///*----------------------------------*\
//  #COLORS
//\*----------------------------------*/

// Set up a colour palette which allows us to theme the entire project from one
// location.

// Colour palette.
$color-brand-primary:               #E4C41B !default;
$color-brand-primary-highlight:     lighten($color-brand-primary, 5%) !default;
$color-brand-primary-shadow:        darken($color-brand-primary,  5%) !default;

$color-brand-secondary:             #C3A80A !default;
$color-brand-secondary-highlight:   lighten($color-brand-secondary, 5%) !default;
$color-brand-secondary-shadow:      darken($color-brand-secondary,  5%) !default;

// $color-grey:                        #666 !default;
$color-grey-dark:                   #333 !default;
$color-grey-light:                  #999 !default;
$color-white:                       #fffff5 !default;

$color-logo: #f3d10d;


