.c-lang-selector {
    position: relative;
    cursor: pointer;
    width: 30px;
    height: 30px;
}

.c-lang-selector__icon {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.c-lang-selector__select {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: transparent;
    // display: none;
}