.c-loading-ind{
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-grey-dark;
}

.c-loading-ind__anvil{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.c-loading-ind__emblem{
    position: absolute;
    top: 50%;
    left: 50%;
    // transform: translate(-50%, -50%);
    animation: emblem-rotate 2s cubic-bezier(0.215, 0.610, 0.355, 1) 0s infinite ;
    animation-direction: normal;
    animation-fill-mode: forwards;
    transform-origin: center;
}

@keyframes emblem-rotate {
    0%{
        transform: translate(-50%, -50%) rotate(0deg) ;
    }

    33%{
        transform: translate(-50%, -50%) rotate(120deg) ;
    }

    66%{
        transform: translate(-50%, -50%) rotate(240deg) ;
    }

    100%{
        transform: translate(-50%, -50%) rotate(360deg);
    }
}