.c-contacts-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.c-contacts-list__item {
    margin: 14px 0;
}

.c-contacts-list__item--social {
    display: flex;
    justify-items: start;
    align-items: center;
}

.c-contacts-list__social {
    width: 50px;
    height: 50px;
    margin-left: 14px;

    &:first-of-type {
        margin-left: 0;
    }


    &>i {
        font-size: 3rem;
        color: $dark;
    }
}

.c-contacts-list__link {
    display: flex;
    align-items: center;
    justify-content: start;
    margin: 0;
    padding: 0;
}

.c-contacts-list__ico {
    font-size: 3rem;
    width: 50px;
    height: 50px;
}

.c-contacts-list__text {
    color: $dark;
    font-size: 1.5rem;
    margin-left: 24px;
}