$footer-height: 40px;

.c-footer {
    height: $footer-height;
    background-color: $color-grey-dark;
    display: flex;
    align-items: center;
    justify-content: center;
}

.c-footer__text {
    font-size: 0.8rem;
    color: $color-white;
    opacity: 0.5;
}