.c-contacts {
    // overflow: hidden;
}

.c-contacts__map {
    filter: sepia(50%);
    object-fit: cover;
    width: 100%;
    box-shadow: 0px 5px 10px rgba($color: #000, $alpha: 0.3);
}

.c-contacts__list {

    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.c-contacts-list__item {
    margin: 14px 0;
}

.c-contacts-list__item--social {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-grow: 1;
    justify-self: flex-end;
    align-self: center;
    margin-bottom: 0;
    height: auto;
}

.c-contacts-list__social {
    margin-left: 14px;

    &:first-of-type {
        margin-left: 0;
    }


    &>i {
        font-size: 3rem;
        color: $dark;
    }
}

.c-contacts-list__link {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.c-contacts-list__ico {
    font-size: 3rem;
    width: 50px;
    height: 50px;
}

.c-contacts-list__text {
    color: $dark;
    font-size: 1.25rem;
    margin-left: 24px;
}

@include media-breakpoint-up(lg) {
    .c-contacts__map {
        height: 500px;
    }


    .c-contacts-list__item--social {
        align-self: flex-start;
        justify-content: start;
    }
}