.c-cta-buy {
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.c-cta-buy__title {
    background-color: $color-grey-dark;
    // border-radius: $border-radius;
    color: $color-brand-primary;
    text-shadow: $color-grey-dark 5px;
    font-weight: 700;
    padding: 16px 24px;
    align-self: stretch;
    text-align: center;
    display: inline-block;
    
    @extend .mb-4, .h1;
}

.c-cta-buy__button {
    @extend .btn, .btn-primary, .py-2, .px-4, .fs-5;
}

@include media-breakpoint-up(lg) {
    .c-cta-buy {
        height: 350px;
    }
    .c-cta-buy__title{
        margin: 0 auto;
        align-self: center;
        font-size: 3rem;
    }
}